html {
    background: #f2d3b2;
    font-family: 'Kurale', serif !important;
    color: #5b2627;
}

body {
    background-image: url("/wp-content/themes/astrojyo/img/back/backmandala.png");
    background-repeat: repeat;
    background-position: 50%;
}

.astro-top-nav {
    background-repeat: repeat;
}

.uk-navbar-dropdown-nav > li > a {
    color: #ffffff;
}

.uk-navbar-dropdown-nav > li.uk-active > a {
    color: #ffedbd;
}

.uk-navbar-dropdown-nav > li > a:focus, .uk-navbar-dropdown-nav > li > a:hover {
    color: #ffb48a;
}

.uk-link, a {
    color: #5b2627;
    text-decoration: none;
    cursor: pointer;
}

.uk-link:hover, a:hover {
    text-decoration: none;
    color: #b10e00;
}

.uk-nav-default > li > a, .uk-nav-primary > li > a, .uk-nav-primary .uk-nav-sub a {
    color: #5b2627;
}

.uk-nav-default > li > a:focus, .uk-nav-default > li > a:hover, .uk-nav-primary > li > a:focus, .uk-nav-primary > li > a:hover, .uk-nav-primary .uk-nav-sub a:focus, .uk-nav-primary .uk-nav-sub a:hover {
    color: #b10e00;
}

.uk-nav-default > li.uk-active > a, .uk-nav-primary > li.uk-active > a {
    color: #b10e00;
}

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
    font-family: 'Kurale', serif;
    color: #ffffff;
    height: 40px;
}

.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a.uk-open, .uk-navbar-nav > li > a:focus {
    color: #ffb48a;
}

.uk-navbar-nav > li.uk-active > a {
    color: #ffedbd;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #a68a7edb;
}

.uk-pagination {
    font-size: 30px;
}

.uk-pagination > * {
}

.uk-pagination > * > * {
    color: #a68a7e;
}

.uk-pagination > .pagination-arrow {
    margin: auto 0;
}

.astro-header {
    height: 300px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.astro-tile {
    background: rgba(242, 211, 178, 0.5);
}

.astro-tile-shadow {
    box-shadow: 0px 2px 10px 3px rgba(91, 38, 39, 0.05);
}

.uk-heading-line > :after, .uk-heading-line > :before {
    border-bottom: 1px solid #5b2627;
}

.uk-grid-divider > :not(.uk-first-column)::before {
    border-left: 1px solid #5b2627;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    color: #5b2627;
    font-family: 'Kurale', serif;
}

.uk-offcanvas-bar {
    background: url('/wp-content/themes/astrojyo/img/back/px1.jpg');
    color: #5b2627;
}

.astro-color {
    background-color: #5b2627;
}

.astro-color-text {
    color: #5b2627;
}

#astro-particles {
    position: absolute;
    width: 100%;
    height: 100%;
}

.astro-logo {
    position: absolute;
    z-index: 3;
    width: 250px;
    height: 250px;
    top: 10px;
    left: 20px;
}

.astro-logo-image {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
}

.astro-logo-header {
    background: -webkit-linear-gradient(top, #c57d23, #fff1bc, #ffd16b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 2.38rem;
    color: #fff1bc;
}

.astro-logo-header-m {
    background: -webkit-linear-gradient(top, #c57d23, #fff1bc, #ffd16b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 1.5rem;
    color: #fff1bc;
}

.astro-gold-text {
    background: -webkit-linear-gradient(top, #c57d23, #fff1bc, #ffd16b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff1bc;
}

.astor-coleso {
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: -200px;
    right: -200px;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: spin 40s linear infinite;
    -moz-animation: spin 40s linear infinite;
    animation: spin 40s linear infinite;
}

.astro-post {
}

.astro-post-image {
    height: 270px;
}

.astro-post-btnmore {
    background: #9f7464;
    color: white;
    border-radius: 5px;
    transition: background .3s ease;
}

.astro-post-btnmore:hover {
    background: #550c05;
    color: #ffb48a;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

[class*='astro-footer-corner'] {
    position: absolute;
    width: 100%;
    min-height: 200px;
    background-repeat: no-repeat;
}

.astro-footer-corner-l {
    top: 0;
    left: 15px;
}

.astro-footer-corner-r {
    bottom: 0;
    right: 0;
    background-position: top left;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}

img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.astro-copyright {
    color: #fee2c4;
    font-size: 2rem;
    line-height: 1.3;
}

.uk-card-primary.uk-card-body .uk-nav-default > li.uk-active > a, .uk-card-primary > :not([class*=uk-card-media]) .uk-nav-default > li.uk-active > a, .uk-card-secondary.uk-card-body .uk-nav-default > li.uk-active > a, .uk-card-secondary > :not([class*=uk-card-media]) .uk-nav-default > li.uk-active > a, .uk-light .uk-nav-default > li.uk-active > a, .uk-offcanvas-bar .uk-nav-default > li.uk-active > a, .uk-overlay-primary .uk-nav-default > li.uk-active > a, .uk-section-primary:not(.uk-preserve-color) .uk-nav-default > li.uk-active > a, .uk-section-secondary:not(.uk-preserve-color) .uk-nav-default > li.uk-active > a, .uk-tile-primary:not(.uk-preserve-color) .uk-nav-default > li.uk-active > a, .uk-tile-secondary:not(.uk-preserve-color) .uk-nav-default > li.uk-active > a {
    color: #b10e00;
}

.uk-card-primary.uk-card-body .uk-nav-default > li > a, .uk-card-primary > :not([class*=uk-card-media]) .uk-nav-default > li > a, .uk-card-secondary.uk-card-body .uk-nav-default > li > a, .uk-card-secondary > :not([class*=uk-card-media]) .uk-nav-default > li > a, .uk-light .uk-nav-default > li > a, .uk-offcanvas-bar .uk-nav-default > li > a, .uk-overlay-primary .uk-nav-default > li > a, .uk-section-primary:not(.uk-preserve-color) .uk-nav-default > li > a, .uk-section-secondary:not(.uk-preserve-color) .uk-nav-default > li > a, .uk-tile-primary:not(.uk-preserve-color) .uk-nav-default > li > a, .uk-tile-secondary:not(.uk-preserve-color) .uk-nav-default > li > a {
    color: #5b2627;
}

.uk-navbar-dropdown {
    background-image: url('/wp-content/themes/astrojyo/img/back/px1.jpg');
}

.astro-posttitle {
    min-height: 100px;
    max-height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.astro-goodstitle {
    min-height: 110px;
    max-height: 112px;
    overflow: hidden;
    text-overflow: ellipsis;
}